@model ProfileViewModel
@{
    ViewData["Title"] = "Change Username";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <form method="post" asp-controller="Profile" asp-action="ChangeUserName">
       <div class="form-group">
            <label for="username">Enter your new username:</label>
            <input type="text" class="form-control" id="username" name="username" required asp-for="UserName">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div id="result"></div>
</div>