@using BookFindingAndRatingSystem.Web.ViewModels.Autor
@model AllAutorViewModel

<div>
    <div>
        <h1>@Model.FirstName @Model.LastName</h1>
        <h1>@Model.BirthDate</h1>
    </div>
    <img src="@Model.ImageUrl" alt="Author Image" />
</div>

