@using BookFindingAndRatingSystem.Web.ViewModels.Publisher
@model AddPublisherViewModel
<div class="container">
    <h2>Add Publisher</h2>
    <form asp-controller="Publisher" asp-action="Add" method="post">
        <div class="form-group">
            <label for="Name">Name:</label>
            <textarea class="form-control" id="Name" name="Name" rows="1" required>@Model.Name</textarea>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add Publisher</button>
    </form>
</div>