@model AllBookQueryModel
@{
    ViewBag.Title = "Search";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="BookSorting"></label>
                <select asp-for="BookSorting" class="form-control">
                    <option value="1">Most Copies Sold</option>
                    <option value="2">Lowest price</option>
                    <option value="3">Highest Price</option>
                    <option value="4">Title (Ascending)</option>
                    <option value="5">Title (Descending)</option>
                </select>
            </div>        
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@if (!Model.Books.Any())
{
    <h2 class="text-center">No houses found by the given criteria!</h2>
}
<div class="row">
    @foreach (var books in Model.Books)
    {
        <partial name="_BooksPartial" model="@books" />
    }
</div>
